
* {
  box-sizing: border-box;
  font-family: "Nunito",'Open Sans',sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #EFEFEF;
}

@font-face {
  font-family: 'Feature-Icons';
  src:
    url('https://osmosis-src.s3.amazonaws.com/assets/7146d97a61481324bb6e10b17f972d1239daafe7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Feature-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fi-folder:before {
  content: "\e922";
}
.fi-logo:before {
  content: "\e923";
}
.fi-more-nav:before {
  content: "\e91a";
}
.fi-question-nav:before {
  content: "\e91b";
}
.fi-schedule-nav:before {
  content: "\e91c";
}
.fi-video-nav:before {
  content: "\e91d";
}
.fi-flashcard-bolt:before {
  content: "\e91e";
}
.fi-pencil:before {
  content: "\e91f";
}
.fi-rep-clock:before {
  content: "\e920";
}
.fi-more:before {
  content: "\e921";
}
.fi-builder:before {
  content: "\e919";
}
.fi-Home:before {
  content: "\e916";
}
.fi-home:before {
  content: "\e917";
}
.fi-Home2:before {
  content: "\e918";
}
.fi-clinical:before {
  content: "\e914";
}
.fi-clinical-o:before {
  content: "\e915";
}
.fi-calendar:before {
  content: "\e900";
}
.fi-flashcards:before {
  content: "\e901";
}
.fi-step1-qbank:before {
  content: "\e902";
}
.fi-step2-qbank:before {
  content: "\e903";
}
.fi-private:before {
  content: "\e904";
}
.fi-play:before {
  content: "\e905";
}
.fi-play-expanded:before {
  content: "\e906";
}
.fi-group:before {
  content: "\e907";
}
.fi-flashcard-piggy-bank:before {
  content: "\e908";
}
.fi-doc-search:before {
  content: "\e909";
}
.fi-private-o:before {
  content: "\e90a";
}
.fi-step2-qbank-o:before {
  content: "\e90b";
}
.fi-step1-qbank-o:before {
  content: "\e90c";
}
.fi-group-o:before {
  content: "\e90d";
}
.fi-flashcard-piggy-bank-o:before {
  content: "\e90e";
}
.fi-play-expanded-o:before {
  content: "\e90f";
}
.fi-play-o:before {
  content: "\e910";
}
.fi-flashcards-o:before {
  content: "\e911";
}
.fi-doc-search-o:before {
  content: "\e912";
}
.fi-calendar-o:before {
  content: "\e913";
}