.ui-Content
  .container
    .box1.box 
      ul.breadcrumb
        li.crumb.first-crumb Cardiovascular >
        li.crumb.middle-crumb Physiology: Cardiovascular Physiology >
        li.crumb.last-crumb Electrocardiography
      span.top_bar_image
        img(src="images/7th.png", alt="")
      span.box1-headline
        h2 ECG basics
    .box.box2
      .video-box
        iframe(width='777', height='314', src='https://www.youtube.com/embed/xIZQRjkwV9Q', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .green-quiz-button 
          a(href="#", data-bind="click: alertEvent")
            span.first_span
              h3 26
                span FLASHCARDS
              hr
              h3.second_h3 0
                span QUESTIONS
            span.second_span Add to Quiz Queue
    .sidebar-box.box 
      h3 Up Next
      span.video-area
        img(src="images/vid1.jpg", alt="")
        span 
          a(href="#", data-bind="click: alertEvent")
            h4 Blood pressure, blood flow and resistance
            p Osmosis
    .sidebar-box-2.box
      h3 Memory Anchors
      span.video-area
        img(src="images/vid3.jpg", alt="")
        span 
          a(href="#", data-bind="click: alertEvent")
            h4 Electrocardiography Handwritten
            p Youtube
      span.video-area
        img(src="images/vid2.jpg", alt="")
        span 
          a(href="#", data-bind="click: alertEvent")
            h4 Electrocardiography Khan Academy
            p Youtube
      span.video-area
        img(src="images/vid4.jpg", alt="")
        span 
          a(href="#", data-bind="click: alertEvent")
            h4 12 Lead Contiguous Leads - Lateral Wall Mi
            p Picmonic