.container {
    margin-top: 1em;
    margin-left: 7.8em;
    .box {
        padding: 0.1em;
        background-color: #FFF;
        border-radius: 0.1em;
        margin: 1em;
        margin-right: 1em;
    }
    .box1 {
        width: 69em;
        margin-left: 3em;
        .box1-headline {
            float: left;
            position: relative;
            top: 1.74em;
            left: 8.4em;   
        }
        .breadcrumb {
          float: right;
          position: relative;
          left: -20em;
          top: -0.8em;
        }
        .top_bar_image {
          position: relative;
          left: -7em;
          img {
            width: 5.4em;
          }
        }
        ul.breadcrumb > li.crumb.first-crumb {
            z-index: 300;
          }
          
          ul.breadcrumb > li.crumb.middle-crumb {
            z-index: 200;
          }
          
          ul.breadcrumb > li.crumb.last-crumb {
            z-index: 100;
          }
          
          ul.breadcrumb > li.crumb {
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            height: 0;
            color: #444;
            font-size: 18px;
            margin-left: -14px;
            padding: 5px;
            padding-left: 20px;
            line-height: 40px;
            font-style: italic;
          }
          
          li.crumb:after,
          li.crumb:before {
            content: '';
            position: absolute;
            left: 0;
          }
          
          li.crumb:after {
            width: 100%;
            top: 25px;
            z-index: -1;
            border-right: 15px solid transparent;
          }
          
          li.crumb:before {
            top: 100%;
          }
    }
    .box2 {
      padding: 0;
      .video-box {
        float: left;
        padding: 2em;
        .green-quiz-button {
          background: #5CB85B;
          border-radius: 0.5em;
          margin-top: 1em;
          a {
            display: flex;
            text-decoration: none;
            color: #FFF;
          }
          span {
            padding-left: 1em;
            padding-right: 1em;
          }
          .first_span {
            background: #499249;
            border-top-left-radius: 0.5em;
            border-bottom-left-radius: 0.5em;
            h3 {
              padding-top: -1.6em;
              padding-bottom: -1.6em;
              span {
                font-size: 0.65em;
              }
            }
            .second_h3 {
              margin-left: 1.3em;
            }
          }
          .second_span {
            position: relative;
            left: 0.95em;
            top: 0.65em;
            font-size: 2.9em;
          }
        }
      }
    }
    .sidebar-box {
      float: right;
      padding: 1em;
      margin-right: 5.6em;
      width: 17em;
      margin-top: 2em;
      padding-top: 0.1em;
      h3 {
        border-bottom: 1px solid #eeeeee;
      }
      .video-area {
        display: flex;
        a {
          color: #333;
        }
        img {
          width: 6.5em;
        }
        h4 {
          font-weight: bold;
          margin: 0;
          padding-left: 0.5em;
          font-size: 0.74em;
        }
        p {
          margin: 0;
          padding-left: 0.5em;
          font-size: smaller;
        }
      }
    }
    .sidebar-box-2 {
      float: right;
      padding: 1em;
      margin-right: 5.6em;
      width: 17em;
      padding-top: 0.1em;
      h3 {
        border-bottom: 1px solid #eeeeee;
      }
      .video-area {
        display: flex;
        margin-bottom: 1em;
        a {
          color: #333;
        }
        img {
          width: 6.5em;
        }
        h4 {
          font-weight: bold;
          margin: 0;
          padding-left: 0.5em;
          font-size: 0.74em;
        }
        p {
          margin: 0;
          padding-left: 0.5em;
          font-size: smaller;
        } 
      }
    }
}