.ui-Navbar
  nav.navbar-container
    span.osmosis_search
      input(type="search", name="osmosis_search", size=54, placeholder="Search for videos, flashcards, and questions")
    span.osmosis_right_nav
        span.first_section_right_nav
          span 
            a(href="#", data-bind="click: alertEvent")
              i.far.fa-folder
              i.far.fa-folder.first_folder
                span.number_class 73
          span
            a(href="#", data-bind="click: alertEvent")
              i.fas.fa-layer-group
        span.second_section_right_nav
          a(href="#", data-bind="click: alertEvent")
            i.far.fa-clock
              span.number_class.time_number 97
        span.third_section_right_nav
          a(href="#", data-bind="click: alertEvent")
            span
            img(src="https://cdn.pixabay.com/photo/2016/10/09/18/03/smile-1726471_960_720.jpg", alt="").one