//Variables
@icon-color: #2079DF;
@side-border: 1px solid #eee;

.navbar-container {
    background: white;
    width: 92.5%;
    z-index: 1000;
    padding: 0;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    margin-left: 6.4em;
    margin-top: -64px;
    height: 3.9em;
    .osmosis_search input {
        margin: 0.9em;
        background: #f1f1f1 url(/images/search4.svg) no-repeat right top;
        border-style: solid;
        border-radius: 0.34em;
        border-width: thin;
        padding: 0.9em;
        background-origin: content-box;
        border-color: #ddd;
        font-weight: 500;
        font-size: 0.79em;
    }
    .osmosis_right_nav {
        float: right;
        margin-top: 0.5em;
        margin-right: 1em;
        font-size: 1.1em;
        .fa-layer-group {
            color: grey;
            margin-right: 1em;
        }
        .number_class {
            background-color: red;
            padding: 4px;
            border-radius: 1em;
            font-size: 0.085em;
            color: white;
            font-weight: 900;
            position: relative;
            top: -15px;
        }
        .first_section_right_nav {
            border-right: @side-border;
            .far.fa-folder {
                color: @icon-color;
            }
            .first_folder {
                position: relative;
                right: 1.3em;
                top: 0.4em;
                background: white;
                .number_class {
                    background-color: red;
                    padding: 4px;
                    border-radius: 1em;
                    font-size: 0.085em;
                    color: white;
                    font-weight: 900;
                    position: relative;
                    top: -15px;
                }
            }
            .second_folder {
                position: relative;
                right: 1.3em;
                top: 0.3em;
                background: white;
                .number_class {
                    background-color: red;
                    padding: 4px;
                    border-radius: 1em;
                    font-size: 0.075em;
                    color: white;
                    font-weight: 900;
                    position: relative;
                    top: -15px;
                    left: -6px;
                }
            }
        }
        .second_section_right_nav {
            border-right: @side-border;
            .far.fa-clock {
                margin-left: 1em;
                margin-right: 0.5em;
                color: @icon-color;
                .time_number {
                    top: -9px;
                    left: -5px;
                }
            }
        }
        .third_section_right_nav {
            .one {
                display: inline-block;
                margin-left: 1em;
                position: relative;
                top: 5px;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                background-image: url(http://placehold.it/200x200);
            }
        }
    }
}