.ui-PageComponent
    .ui-Sidebar
    .ui-Navbar
    .ui-Content

  //- h1.fwb Append example
  //- .appended-elements

  //- h1.fwb Mixlist example
  //- .mix-list.mll
  //- button(href='', data-bind='click: add', style='width: 80px; height: 30px') Add
