.menu-icon {
    position: relative;
    height: 64px;
    width: 6.4em;
    background: #355987;
}
.menu-icon:hover {
	cursor: pointer;
}
.menu-icon .hamburger {
    position: absolute;
    left: 34%;
    top: 50%;
    height: 4px;
    width: 34px;
    background-color: #6882A4;
    transition: all .3s;
}
.menu-icon .hamburger:before {
	position:absolute;
	content: '';
	height: 4px;
	width: 34px;
	top: -10px;
	background-color: #6882A4;
	transition: all .4s;
}
.menu-icon .hamburger:after {
	position:absolute;
	content: '';
	height: 4px;
	width: 34px;
	top: 10px;
	background-color: #6882A4;
	transition: all .3s;
}
.menu-icon:hover .hamburger::after,.menu-icon:hover .hamburger::before {
	width: 40px;
}
.menu-icon:hover .hamburger{
	width: 40px;
}

.menu-icon .hamburger.active{
	background-color: rgba(0,0,0,0);
}
.menu-icon .hamburger.active:before{
	transform: rotate(45deg);
	top:0px;
	width: 40px;
}
.menu-icon .hamburger.active:after{
	transform: rotate(135deg);
	top:0px;
	width: 40px;
}

.sidebar {
    position: fixed;
    width: 6.4em;
    height: 42em;
    background-color: #246ECC;
    color: #FAFAFA;
    box-shadow: inset -7px 0px 4px -6px rgba(87,87,87,1);
    .first_section_sidebar {
		a {
			text-decoration: none;
			color: #EFEFEF;
		}
		.first_img {
            margin-left: 0.34em;
        }
    }
}
.sidebar nav ul {
	position: absolute;
	top: 43%;
	left: 30%;
	list-style:none;
	transform:translate(-50%, -50%);
	text-align:center;

}
.sidebar nav ul li {
	font-weight: 590;
	font-size: 1em;
    margin: 24px;
    margin-left: 1.1em;
    span {
        text-align: center;
        margin-left: 0.3em;
    }
} 
.sidebar nav ul li:hover {
	cursor:pointer;
} 

.sidebar.show-sidebar {
	left: 0px;
	transition: all .5s;
}
.sidebar.hide-sidebar {
	left: -300px;
	transition: all .5s;
}
.sidebar.original-sidebar {
	position:fixed;
	width: 300px;
	height: 100vh;
	background-color:#2079DF;
	color:#FAFAFA;
	transition: all .5s;
}