.ui-Sidebar
  div.menu-icon
    div.hamburger
  div.sidebar
    nav
      span.first_section_sidebar
        ul
          li 
            a(href="#", data-bind="click: alertEvent")
              img(src="images/1st.png", alt="")
              span Library
          li 
            a(href="#", data-bind="click: alertEvent")
              img(src="images/2nd.png", alt="").first_img
              span Step 1 Schedule
          li 
            a(href="#", data-bind="click: alertEvent")
              img(src="images/3rd.png", alt="")
              span Quiz Builder
          li 
            a(href="#", data-bind="click: alertEvent")
              img(src="images/4th.png", alt="")
              span Team Workspace
      //- span.second_section_sidebar
      //-   ul
      //-     li 
      //-       img(src="images/1st.png", alt="")
      //-       span Library
      //-     li 
      //-       img(src="images/2nd.png", alt="")
      //-       span Step 1 Schedule